
<div class="contact" >

<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<a href="https://www.facebook.com/markjordan.magalona.92" target="_BLANK"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
    <a href="https://www.instagram.com/jo.rdan.23/" target="_BLANK"><i class="fa fa-instagram" aria-hidden="true"></i></a>
    <a href="https://mail.google.com/mail/u/0/#inbox" target="_BLANK"><i class="fa fa-envelope" aria-hidden="true"></i></a>

</div>

<div class="bottom">

	<pre>
	Contact me:
	Phone Number: 0965-039-7579
	E-mail: magalonajordan62@gmail.com	
	</pre>
	<br>
	<br>

</div>
	

